/* app css stylesheet */

body {
  padding-top: 20px;
}


.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

li {
  list-style: none;
}

.phones {
  list-style: none;
}

.thumb {
  margin: 5px;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}


/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

.caption {
  width: 80px;
  height : 80px;
  overflow: hidden;
  display:inline-block;
}

img.phone:first-child {
  display: block;
}


ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}


h1 {
  border-bottom: 1px solid gray;
}

.thumbnail.right-caption  > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption  > .caption {
    padding: 4px;
}