@font-face{font-family:'Museo Sans';src:url('../skin/frontend/enterprise/blank/fonts/museosans_100-webfont.eot');src:url('../skin/frontend/enterprise/blank/fonts/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),url('../skin/frontend/enterprise/blank/fonts/museosans_100-webfont.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/museosans_100-webfont.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/museosans_100-webfont.svg#MuseoSans100') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Museo Sans Italic';src:url('../skin/frontend/enterprise/blank/fonts/museosans_100_italic-webfont.eot.eot');src:url('../skin/frontend/enterprise/blank/fonts/museosans_100_italic-webfont.eot?#iefix') format('embedded-opentype'),url('../skin/frontend/enterprise/blank/fonts/museosans_100_italic-webfont.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/museosans_100_italic-webfont.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/museosans_100_italic-webfont.svg#MuseoSans100Italic') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Museo Sans 500';src:url('../skin/frontend/enterprise/blank/fonts/MuseoSans_500-webfont.eot');src:url('../skin/frontend/enterprise/blank/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),url('../skin/frontend/enterprise/blank/fonts/MuseoSans_500-webfont.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/MuseoSans_500-webfont.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/MuseoSans_500-webfont.svg#Museo500') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Museo Sans Bold';src:url('../skin/frontend/enterprise/blank/fonts/museosans_700-webfont.eot');src:url('../skin/frontend/enterprise/blank/fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),url('../skin/frontend/enterprise/blank/fonts/museosans_700-webfont.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/museosans_700-webfont.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/museosans_700-webfont.svg#Museo700') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Museo Sans 900';src:url('../skin/frontend/enterprise/blank/fonts/museo900-regular-webfont.eot');src:url('../skin/frontend/enterprise/blank/fonts/museo900-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../skin/frontend/enterprise/blank/fonts/museo900-regular-webfont.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/museo900-regular-webfont.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/museo900-regular-webfont.svg#Museo900') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Helvetica Neue Bold';src:url('../skin/frontend/enterprise/blank/fonts/692722/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix');src:url('../skin/frontend/enterprise/blank/fonts/692722/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix') format('eot'),url('../skin/frontend/enterprise/blank/fonts/692722/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/692722/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/692722/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22') format('svg')}
#header{
	margin:0 auto;
	padding:30px 0 15px;
	position:relative;text-align:center
}
.header-container{
	background:#fff;
	border-bottom:3px solid #ebebeb;
	position:relative;
	z-index:100;
	min-width:995px;
	width:100%}
#logo{
	background:url(../skin/frontend/enterprise/blank/images/header-logo.png) 
	no-repeat;
	cursor:pointer;
	display:inline-block;
	float:none;
	overflow:hidden;
	width:310px;
}
#search-row {
	height:50px;
}
.input-group {
	width:225px;
	margin: 10px 0 10px 50px;
	overflow:hidden;
}
.global-search-form-input{
	background:#ebebeb;
	border-radius:4px;
	border:0;
	display:block;
	float:none;
	font:normal 16px 'Roboto',sans-serif;
	padding-right:25px;
	padding-left:42px;
	width:216px
}




#search-form .global-search-form-input.ui-autocomplete-loading{background-image:url(../skin/frontend/enterprise/blank/images/ajax-loader-grey.gif);background-repeat:no-repeat;background-position:195px center;padding-right:25px}
#top-navigation{margin-top:20px}

.input-group-addon {
	background-color: #a1a1a1;
	background-image:url(../img/icons/icon-search.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.merged input:first-child {
    border-right: 0px;
}
.merged .input-group-addon + input {
	border-left: 0px;
}

.grey {
  background-color: #ebebeb;
  }


