@font-face{font-family:'Museo Sans';src:url('../skin/frontend/enterprise/blank/fonts/museosans_100-webfont.eot');src:url('../skin/frontend/enterprise/blank/fonts/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),url('../skin/frontend/enterprise/blank/fonts/museosans_100-webfont.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/museosans_100-webfont.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/museosans_100-webfont.svg#MuseoSans100') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Museo Sans Italic';src:url('../skin/frontend/enterprise/blank/fonts/museosans_100_italic-webfont.eot.eot');src:url('../skin/frontend/enterprise/blank/fonts/museosans_100_italic-webfont.eot?#iefix') format('embedded-opentype'),url('../skin/frontend/enterprise/blank/fonts/museosans_100_italic-webfont.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/museosans_100_italic-webfont.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/museosans_100_italic-webfont.svg#MuseoSans100Italic') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Museo Sans 500';src:url('../skin/frontend/enterprise/blank/fonts/MuseoSans_500-webfont.eot');src:url('../skin/frontend/enterprise/blank/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),url('../skin/frontend/enterprise/blank/fonts/MuseoSans_500-webfont.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/MuseoSans_500-webfont.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/MuseoSans_500-webfont.svg#Museo500') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Museo Sans Bold';src:url('../skin/frontend/enterprise/blank/fonts/museosans_700-webfont.eot');src:url('../skin/frontend/enterprise/blank/fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),url('../skin/frontend/enterprise/blank/fonts/museosans_700-webfont.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/museosans_700-webfont.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/museosans_700-webfont.svg#Museo700') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Museo Sans 900';src:url('../skin/frontend/enterprise/blank/fonts/museo900-regular-webfont.eot');src:url('../skin/frontend/enterprise/blank/fonts/museo900-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../skin/frontend/enterprise/blank/fonts/museo900-regular-webfont.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/museo900-regular-webfont.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/museo900-regular-webfont.svg#Museo900') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'Helvetica Neue Bold';src:url('../skin/frontend/enterprise/blank/fonts/692722/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix');src:url('../skin/frontend/enterprise/blank/fonts/692722/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix') format('eot'),url('../skin/frontend/enterprise/blank/fonts/692722/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff') format('woff'),url('../skin/frontend/enterprise/blank/fonts/692722/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf') format('truetype'),url('../skin/frontend/enterprise/blank/fonts/692722/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22') format('svg')}
#header{
	margin:0 auto;
	padding:30px 0 15px;
	position:relative;text-align:center
}
.header-container{
	background:#fff;
	border-bottom:3px solid #ebebeb;
	position:relative;
	z-index:100;
	min-width:995px;
	width:100%}
#logo{
	background:url(../skin/frontend/enterprise/blank/images/header-logo.png) 
	no-repeat;
	cursor:pointer;
	display:inline-block;
	float:none;
	overflow:hidden;
	width:310px;
}
#search-form{position:absolute;top:35px;left:0;width:225px}
#search-form .input-group{display:block}
#search-form .global-search-form-input{background:#ebebeb;border-radius:4px;border:0;display:block;float:none;font:normal 16px 'Roboto',sans-serif;padding-right:25px;padding-left:42px;width:216px}
#search-form .input-group-addon{background-image:url(../img/icons/icon-search.png);background-position:center center;background-repeat:no-repeat;position:absolute;top:0;left:0;width:36px;height:100%;z-index:10}
#search-form .global-search-form-input.ui-autocomplete-loading{background-image:url(../skin/frontend/enterprise/blank/images/ajax-loader-grey.gif);background-repeat:no-repeat;background-position:195px center;padding-right:25px}
#top-navigation{margin-top:20px}
ul#menu{margin:0;padding:0}
ul#menu li{display:inline-block;text-align:left}
ul#menu li:last-child{text-align:right}
ul#menu li span{white-space:nowrap}
ul#menu li>a{color:#a1a1a1;display:inline-block;font:normal 18px 'Roboto',sans-serif;height:25px;line-height:24px;text-decoration:none;text-transform:capitalize;vertical-align:middle;*margin-bottom:5px}
ul#menu li:hover>a,ul#menu li a.active-link{color:#636363;text-decoration:none}
#menu-item-livegreen{width:150px}
#menu-item-earn{width:160px}
#menu-item-myrecycling{width:160px}
#menu-item-rewards{width:170px}
#menu-item-onetwine{width:230px}
#menu-item-onetwine a{background:url(../skin/frontend/enterprise/blank/images/navigation/one-twine.png?v=14.2.2.1) no-repeat;overflow:hidden;text-indent:-1000em;width:180px;height:26px}
#menu-item-onetwine a:hover{background-position:0 -26px}
#menu-item-about{width:90px}
.header-top-block{font:normal 16px 'Roboto',sans-serif;padding:15px 0}
.header-top-block-inner{margin:0 auto;overflow:hidden;width:990px}
.header-top-block h3{color:#636363;font:bold 24px 'Roboto',sans-serif;margin:0 0 5px}
.header-auth-block{font:bold 14px 'Roboto',sans-serif;padding:15px 0}
.header-auth-block-inner{margin:0 auto;overflow:hidden;width:990px}
.header-auth-block-text{color:#fff;float:left;font-size:16px;width:450px}
.header-auth-block,.header-auth-block p{color:#fff}
.header-auth-block a{font-family:inherit}
.header-auth-block .btn{font-size:20px}
.header-auth-block .readmore{color:#313133}
.rb_signup_fb_block_home h2{color:#fff;margin-top:0}
.header-curbside-subscribed{color:#313133}
.header-curbside-subscribed-heading,.header-curbside-recycled-amount{font-family:'Roboto',sans-serif;font-weight:bold;margin-top:0}
.header-curbside-recycled-amount{margin-top:10px}
.header-curbside-eligible{background:url(../skin/frontend/enterprise/blank/images/icon-recycling.png?v=14.2.2.) 0 4px no-repeat;color:#636363;font:normal 16px 'Roboto',sans-serif;padding-left:40px}
.header-curbside-eligible-heading{color:#636363;font:bold 24px 'Roboto',sans-serif;margin-top:0}
.header-curbside-eligible-button{margin-top:10px}
.header-curbside-eligible a.readmore{color:#636363;text-decoration:underline}
