<div class="container-fluid">
  <row>
    <div class="col-xs-6">
      <div class="phone-images">
        <img ng-src="{{img}}"
             class="phone wasteimgsize"
             ng-repeat="img in phone.images"
             ng-class="{active: mainImageUrl==img}">
      </div>
      <span>
        Number:<input type="number" name="quantity" id="quantity" ng-model="qtyToRecycle"  />
        <button ng-click="recycleItem()">recycle</button>
      </span>
    </div>
    <div class="col-xs-6">
      <p class="product_name">{{phone.name}}</p>

      <p>{{phone.description}}</p>

      <ul class="phone-thumbs">
        <li ng-repeat="img in phone.images">
          <img ng-src="{{img}}" ng-click="setImage(img)">
        </li>
      </ul>

      <ul class="specs">
        <li>
          <dl>
            <dt>Figures</dt>
            <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
            <div d3-bars bar-height="20" bar-padding="5" data="d3Data"></div>
          </dl>
        </li>
      </ul>
    </div>
  </row>
</div>