     
 

<div class="container-fluid">

  <div class="row">
       <!-- <div class="input-group">
        <span class="input-group-addon"/>
         <input id="global-search-form-input" name="q" type="text" class="form-control global-search-form-input ui-autocomplete-input" placeholder="Search" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" data-url="/search/autocomplete" ng-model="query"/>
       </div> -->


       <div class="input-group merged">
        <span class="input-group-addon"></span>
        <input class="form-control grey" placeholder="Search" ng-model="query" aria-haspopup="true"/>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-8">
        <ul>
          <li ng-repeat="waste in phones | filter:query | orderBy:orderProp" href="#/phones/{{waste.id}}" class="span4">
            <a href="#/dechets/{{waste.id}}">
              <div   class="thumbnail right-caption span4">
                <img class="span2 thumb " ng-src="{{waste.imageUrl}}" alt="">
                <div class="caption">
                  <h5>{{waste.name}}</h5>
                  <p>{{waste.snippet}}</p>
                </div>
              </div>
            </a>
          </li>
        </ul>

        <!--Sidebar content-->
      </div>
      <div class="col-xs-2 right-side-bar">
        <h3 class="livegreen-sidebar-title">Most Popular</h3>
        <div class="livegreen-list-image ">
            Wazzza
        </div>
        <!--Body content-->
      </div>

    </div><!--fin row--> 
  </div><!--fin container-->
