<div class="container-fluid">
    <!--div class="col-md-2">
      <!--Sidebar content-->
    <div class="panel panel-default">
    <div class="panel-body">
      <!--Body content-->

       <div class="input-group">
        <span class="input-group-addon"></span>
         <!--input ng-model="query"-->
         <input id="global-search-form-input" name="q" type="text" class="form-control global-search-form-input ui-autocomplete-input" placeholder="Search" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" data-url="/search/autocomplete" ng-model="query"></div>


      <!--ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul-->

<!--div class="row"-->
  <ul>
    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" href="#/phones/{{phone.id}}" class="span4">
      <a href="#/phones/{{phone.id}}">
        <div   class="thumbnail right-caption span4">
        <img class="span2 thumb " ng-src="{{phone.imageUrl}}" alt="">
          <div class="caption">
            <h5>Thumbnail label </h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget. Eget metus</p>
          </div>
      </div>
      </a>
    </li>
    </ul>


    </div><!--fin panel body-->
  </div><!--fin panel -->
</div><!--fin container-->
